html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.cards-container {
  flex-grow: 1;
  height: 100vh;
  overflow: auto;
}

* {
  box-sizing: border-box;
}

.card {
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.title-paper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  min-height: 240px;
}

.cards-paper {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.stats-paper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 240px;
}

.icon {
  font-size: 30px;
  color: #1976d2;
}
